[submodule "3rd_party/glm"]
	path = 3rd_party/glm
	url = https://github.com/g-truc/glm.git
[submodule "3rd_party/bullet-physics"]
	path = 3rd_party/bullet-physics
	url = https://github.com/bulletphysics/bullet3.git
[submodule "3rd_party/mul"]
	path = 3rd_party/mul
	url = git@github.com:Abceus/mul.git
